.imagencalendar {
    height: 75px;
    width: 75px;
}

.calendar {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 5px;
    background: rgb(40, 220, 224);
    background: linear-gradient(63deg, rgba(40, 220, 224, 1) 0%, rgba(69, 159, 168, 1) 50%, rgba(42, 157, 107, 1) 100%);
}

.hoja {
    color: white;
    background: rgb(149, 224, 40);
    background: linear-gradient(63deg, rgba(149, 224, 40, 1) 0%, rgba(113, 168, 69, 1) 50%, rgba(42, 157, 107, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.contenedoraPadre {
    /*height: 150px !important;*/
    height: 60% !important;
    margin-top: 5px;
}

.desciption {
    max-width: 100px !important;
}

mat-card-actions {
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 5px;
}

mat-card-subtitle {
    margin-bottom: 5px;
}

mat-card-actions {
    display: flex;
    justify-content: center;
}

.cale {
    top: 7.5%;
    z-index: 30;
    display: flex;
    position: sticky;
    flex-flow: column nowrap;
}

.vistacale {
    height: 100%;
    width: 100%;
}

.calendario {
    padding: 5px;
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
}

.centrado {
    display: flex;
    justify-content: center;
}