<div *ngIf="valor">
    <ng-container *ngIf="notificacion.acceso == 'vis'">
        <div class="card noti" (click)="vista()" [routerLink]="['vistapublicacion',notificacion.idp]">
            <div class="card-body">
                <div class="image">
                    <img mat-card-avatar [src]="notificacion.autorimagenNot" *ngIf="notificacion.autorimagenNot!=''" alt="prueba">
                    <img mat-card-avatar src="https://firebasestorage.googleapis.com/v0/b/noticias-esfot.appspot.com/o/default%2Fno_usuario.png?alt=media&token=6f8f0302-916a-47f3-979c-4ff762a4a759" *ngIf="notificacion.autorimagenNot==''" alt="prueba">
                </div>
                <div class="noticol">
                    <p class="mensaje">{{notificacion.mensaje}}</p>
                    <p class="card-text"><small class="text-muted">{{notificacion.notFechaP|fechalast}}</small></p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="notificacion.acceso == 'mody'">
        <ng-container [ngSwitch]="notificacion.tipo">
            <ng-container *ngSwitchCase="'Noticias'">
                <div class="card noti" (click)="solover()" [routerLink]="['modifynoticias', notificacion.iduc, notificacion.idp, notificacion.codigo]">
                    <div class="card-body">
                        <div class="image">
                            <img mat-card-avatar [src]="notificacion.autorimagenNot" *ngIf="notificacion.autorimagenNot!=''" alt="prueba">
                            <img mat-card-avatar src="https://firebasestorage.googleapis.com/v0/b/noticias-esfot.appspot.com/o/default%2Fno_usuario.png?alt=media&token=6f8f0302-916a-47f3-979c-4ff762a4a759" *ngIf="notificacion.autorimagenNot==''" alt="prueba">
                        </div>
                        <div class="noticol">
                            <p class="mensaje">{{notificacion.mensaje}}</p>
                            <p class="card-text"><small class="text-muted">{{notificacion.notFechaP|fechalast}}</small></p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'Eventos'">
                <div class="card noti" (click)="solover()" [routerLink]="['modifyeventos', notificacion.iduc,  notificacion.idp, notificacion.codigo]">
                    <div class="card-body">
                        <div class="image">
                            <img mat-card-avatar [src]="notificacion.autorimagenNot" *ngIf="notificacion.autorimagenNot!=''" alt="prueba">
                            <img mat-card-avatar src="https://firebasestorage.googleapis.com/v0/b/noticias-esfot.appspot.com/o/default%2Fno_usuario.png?alt=media&token=6f8f0302-916a-47f3-979c-4ff762a4a759" *ngIf="notificacion.autorimagenNot==''" alt="prueba">
                        </div>
                        <div class="noticol">
                            <p class="mensaje">{{notificacion.mensaje}}</p>
                            <p class="card-text"><small class="text-muted">{{notificacion.notFechaP|fechalast}}</small></p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'Solicitudes'">
                <div class="card noti" (click)="solover()" [routerLink]="['modifysolicitud', notificacion.iduc, notificacion.idp, notificacion.codigo]">
                    <div class="card-body">
                        <div class="image">
                            <img mat-card-avatar [src]="notificacion.autorimagenNot" *ngIf="notificacion.autorimagenNot!=''" alt="prueba">
                            <img mat-card-avatar src="https://firebasestorage.googleapis.com/v0/b/noticias-esfot.appspot.com/o/default%2Fno_usuario.png?alt=media&token=6f8f0302-916a-47f3-979c-4ff762a4a759" *ngIf="notificacion.autorimagenNot==''" alt="prueba">
                        </div>
                        <div class="noticol">
                            <p class="mensaje">{{notificacion.mensaje}}</p>
                            <p class="card-text"><small class="text-muted">{{notificacion.notFechaP|fechalast}}</small></p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="notificacion.acceso == 'userapr'">
        <div class="card noti" (click)="solover()" [routerLink]="['usermodify',notificacion.idp,user.uid]">
            <div class="card-body">
                <div class="image">
                    <img mat-card-avatar [src]="notificacion.autorimagenNot" *ngIf="notificacion.autorimagenNot!=''" alt="prueba">
                    <img mat-card-avatar src="https://firebasestorage.googleapis.com/v0/b/noticias-esfot.appspot.com/o/default%2Fno_usuario.png?alt=media&token=6f8f0302-916a-47f3-979c-4ff762a4a759" *ngIf="notificacion.autorimagenNot==''" alt="prueba">
                </div>
                <div class="noticol">
                    <p class="mensaje">{{notificacion.mensaje}}</p>
                    <p class="card-text"><small class="text-muted">{{notificacion.notFechaP|fechalast}}</small></p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="notificacion.acceso == 'group'">
        <div class="card noti" (click)="solover()" [routerLink]="['viewgroup',user.uid]">
            <div class="card-body">
                <div class="image">
                    <img mat-card-avatar [src]="notificacion.autorimagenNot" *ngIf="notificacion.autorimagenNot!=''" alt="prueba">
                    <img mat-card-avatar src="https://firebasestorage.googleapis.com/v0/b/noticias-esfot.appspot.com/o/default%2Fno_usuario.png?alt=media&token=6f8f0302-916a-47f3-979c-4ff762a4a759" *ngIf="notificacion.autorimagenNot==''" alt="prueba">
                </div>
                <div class="noticol">
                    <p class="mensaje">{{notificacion.mensaje}}</p>
                    <p class="card-text"><small class="text-muted">{{notificacion.notFechaP|fechalast}}</small></p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="notificacion.acceso == 'uservis'">
        <div class="card noti" (click)="solover()" [routerLink]="['seeperfil',user.uid]">
            <div class="card-body">
                <div class="image">
                    <img mat-card-avatar [src]="notificacion.autorimagenNot" *ngIf="notificacion.autorimagenNot!=''" alt="prueba">
                    <img mat-card-avatar src="https://firebasestorage.googleapis.com/v0/b/noticias-esfot.appspot.com/o/default%2Fno_usuario.png?alt=media&token=6f8f0302-916a-47f3-979c-4ff762a4a759" *ngIf="notificacion.autorimagenNot==''" alt="prueba">
                </div>
                <div class="noticol">
                    <p class="mensaje">{{notificacion.mensaje}}</p>
                    <p class="card-text"><small class="text-muted">{{notificacion.notFechaP|fechalast}}</small></p>
                </div>
            </div>
        </div>
    </ng-container>

</div>