.scroll {
    width: 250px;
    min-height: 95px;
}

.scroll2 {
    width: 250px;
    min-height: 190px;
}

.scroll3 {
    width: 250px;
    min-height: 285px;
}

.scroll4 {
    width: 250px;
    min-height: 380px;
}

.scroll5 {
    width: 250px;
    min-height: 475px;
}

.scroll6 {
    width: 250px;
    min-height: 540px;
}