.imagen {
    width: 100px;
    height: 150px;
    margin-left: 5px;
}

button {
    border-radius: 100%;
    font-size: 20px;
    width: 20px;
    height: 20px;
    /*background: white;*/
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 155px;
    left: 90px;
}

.conjunto {
    display: flex;
    flex-flow: row wrap;
}

.caja {
    margin-left: 5px;
}

.rango {
    width: 100px;
    height: 100px;
}