.imagen-perfil {
    padding: 0;
    margin: 0;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 3px solid #596DDA;
    display: flex;
    display: row nowrap;
}

.imagen-credencial {
    padding: 1px;
    margin: 0;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    width: 240px;
    height: 300px;
    border: 3px solid #596DDA;
    display: flex;
    display: row nowrap;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.rol {
    display: flex;
    justify-content: space-between;
}

mat-radio-button {
    margin-left: 10px;
}

.radio {
    font-size: 12px;
    margin-right: 8px
}

.radio-warn {
    color: red;
    font-size: 12px;
    margin-right: 8px
}

.contorno-radio {
    font-size: 12px;
    width: 100% !important;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 8px;
    margin-left: 2px;
}

.contorno-radio-warn {
    font-size: 12px;
    width: 100% !important;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 8px;
    margin-left: 2px;
    color: red;
}