<div class="contenidos">
    <mat-horizontal-stepper #stepper>
        <form [formGroup]="firstFormGroup" (ngSubmit)="onUpload(firstFormGroup)" #formone="ngForm">
            <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel>Llena {{tipo}}</ng-template>
                <mat-form-field appearance="outline" *ngIf="user.rol=='secretaria'" class="w-100">
                    <mat-label>Elegir perfil:</mat-label>
                    <mat-select formControlName="autorNamePost" [errorStateMatcher]="matcher" required>
                        <mat-option *ngFor="let perfil of secretaria" [value]="perfil">{{perfil}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="firstFormGroup.controls['autorNamePost'].errors?.required">
                        {{errors.perfilPost}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100" *ngIf="group=='gpowltswc1'">
                    <mat-label>Publicar para:</mat-label>
                    <mat-select formControlName="nameGroupPost" [errorStateMatcher]="matcher" required>
                        <mat-option *ngFor="let publi of publicar; let i=index" [value]="i">{{publi}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="firstFormGroup.controls['nameGroupPost'].errors?.required">
                        {{errors.opcion}}
                    </mat-error>
                </mat-form-field>
                <div class="form-group" *ngIf="group=='gpmbltswm1'">
                    <label for="exampleInputEmail1">Grupo:</label>
                    <input type="email" class="form-control" readonly formControlName="nameGroupPost" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group" *ngIf="group=='gpglltsww1'">
                    <label for="exampleInputEmail1">Grupo:</label>
                    <input type="email" class="form-control" readonly formControlName="nameGroupPost" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <mat-form-field appearance="outline" *ngIf="tipo=='solicitud'" class="w-100">
                    <mat-label>Categoria:</mat-label>
                    <mat-select formControlName="categoriaPost" [errorStateMatcher]="matcher" required>
                        <mat-option *ngFor="let solicitud of solicitudes" [value]="solicitud">{{solicitud}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="firstFormGroup.controls['categoriaPost'].errors?.required">
                        {{errors.categoriaPost}} {{tipo}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="tipo =='noticia'" class="w-100">
                    <mat-label>Categoria {{tipo}} </mat-label>
                    <mat-select formControlName="categoriaPost" [errorStateMatcher]="matcher" required>
                        <mat-option *ngFor="let item of categorias" [value]="item">{{item}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="firstFormGroup.controls['categoriaPost'].errors?.required">
                        {{errors.categoriaPost}} {{tipo}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Titulo {{tipo}}</mat-label>
                    <input matInput placeholder="titulo" formControlName="tituloPost" [errorStateMatcher]="matcher" maxlength="40" required>
                    <mat-error *ngIf="firstFormGroup.controls['tituloPost'].errors?.required">
                        {{errors.titulopost}} {{tipo}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Descripción de {{tipo}}</mat-label>
                    <textarea matInput rows="6" placeholder="Descripción del evento" formControlName="descripcionPost" [errorStateMatcher]="matcher" style="resize: none" required></textarea>
                    <mat-error *ngIf="firstFormGroup.controls['descripcionPost'].errors?.required">
                        {{errors.descripcionPost}} {{tipo}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="tipo =='evento' || tipo =='solicitud'" class="w-100">
                    <mat-label>Número de contacto</mat-label>
                    <input matInput formControlName="telPost" placeholder="Número de contacto" [errorStateMatcher]="matcher" maxlength="10">
                    <mat-error *ngIf="firstFormGroup.controls['telPost'].errors?.pattern">
                        {{errors.numeroPost}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="tipo =='evento' || tipo =='solicitud'" class="w-100">
                    <mat-label>Lugar del {{tipo}}</mat-label>
                    <input matInput placeholder="Lugar" formControlName="lugarPost">
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="tipo =='evento'" class="contorno-select w-50">
                    <mat-label>Fecha evento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaInicioPost" [errorStateMatcher]="matcher" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="firstFormGroup.controls['fechaInicioPost'].errors?.required">
                        {{errors.fechaPost}} {{tipo}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="tipo =='evento'" class="contorno-select w-50">
                    <mat-label>Fecha final del evento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaFinPost">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="firstFormGroup.controls['fechaFinPost'].errors?.mayor">
                        La fecha final debe ser mayor o igual a la fecha inicial
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="tipo =='evento'" class="w-50">
                    <mat-label>Hora de Inicio del evento</mat-label>
                    <input matInput type="time" formControlName="horainicioPost">
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="tipo =='evento'" class="w-50">
                    <mat-label>Hora de finalización del evento</mat-label>
                    <input matInput type="time" formControlName="horafinPost">
                    <mat-error *ngIf="firstFormGroup.controls['horafinPost'].errors?.horamayor">
                        La hora final debe ser mayor o igual a la hora inicial
                    </mat-error>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel>Elemento Multimedia</ng-template>
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel hideToggle [expanded]="step === 0" (opened)="setStep(0)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Imagenes públicación
                            </mat-panel-title>
                            <mat-panel-description>
                                Agrega varias imagenes
                                <mat-icon>burst_mode</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div>
                            <mat-label>Puede subir imagenes con extensión JPEG JPG PNG</mat-label><br>
                            <label><strong>Images almacenadas:</strong></label><label *ngIf="!imagenes">No hay imagenes almacenadas</label>
                            <div *ngIf="imagenes" class="conjunto col-md-12 col-lg-12">
                                <br>
                                <div *ngFor="let item of publication.imagenPost,let i=index" class="caja">
                                    <img [src]="item['url']" class="imagen">
                                    <button type="button" name="button" (click)="eliminar(i)" class="buttonEliminar"><i class="far fa-times-circle"></i></button>
                                </div>
                            </div>
                        </div>
                        <label><strong>Agregar Imagenes:</strong> Puede agregar {{valor1}} </label>
                        <app-manageimages (messageEvent)="cuerpo($event)" [cantidad]="valor1"></app-manageimages>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle [expanded]="step === 1" (opened)="setStep(1)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Documentos
                            </mat-panel-title>
                            <mat-panel-description>
                                Agrega varios documentos
                                <mat-icon>file_copy</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-label>Puede subir archivos pdf de un tamaño máximo de 5MB</mat-label>
                        <div *ngIf="probar">
                            <label><strong>Documentos almacenados:</strong></label><label *ngIf="!documentos">No hay documentos almacenadas</label>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of publication.docsPost,let i=index">
                                        <th scope="row">{{i}}</th>
                                        <td>{{item['name']}}</td>
                                        <td><button type="button" name="button" class="btn btn-danger" (click)="eliminarDoc(i)">Borrar</button></td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                        <label><strong>Agregar Pdf:</strong> Puede agregar {{valor2}}</label>
                        <app-documentos (messageEvent)="documents($event)" [cantidad]="valor2"></app-documentos>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle [expanded]="step === 2" (opened)="setStep(2)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Links Youtube
                            </mat-panel-title>
                            <mat-panel-description>
                                Agrega links de Youtube
                                <mat-icon>slideshow</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Link Youtube</th>
                                            <th>Borrar</th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="nyoutubelinks">
                                        <tr *ngFor="let control of nyoutubelinks.controls, let i=index">
                                            <td>{{i+1}}</td>
                                            <td>
                                                <mat-form-field class="tama">
                                                    <mat-label>Link de youtube</mat-label>
                                                    <input type="url" [formControlName]="i" [errorStateMatcher]="matcher" matInput placeholder="url" required>
                                                    <mat-error *ngIf="nyoutubelinks.controls[i].errors?.required">
                                                        {{errors.llenar}}
                                                    </mat-error>
                                                    <mat-error *ngIf="nyoutubelinks.controls[i].errors?.pattern">
                                                        {{errors.links}}
                                                    </mat-error>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <button type="button" name="button" class="btn btn-danger" (click)="borrarLinkYoutube(i)">Borrar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" name="button" class="btn btn-primary btn-block mt-3 mb-5" (click)="agregarLinkYoutube()">+ Agregar</button>
                            </div>

                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <div>
                    <button mat-button matStepperPrevious>Atrás</button>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Guardar cambios {{tipo}}</ng-template>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Comentario de {{tipo}}</mat-label>
                    <textarea matInput rows="6" placeholder="Descripción del evento" formControlName="comentarioPost" [errorStateMatcher]="matcher" style="resize: none" required></textarea>
                    <mat-error *ngIf="firstFormGroup.controls['comentarioPost'].errors?.required">
                        {{errors.comenta}} {{tipo}}
                    </mat-error>
                </mat-form-field>
                <div>
                    <mat-radio-group aria-label="Select an option" formControlName="estadoPost" required>
                        <mat-radio-button value="aprobado">Aprobado</mat-radio-button>
                        <mat-radio-button value="rechazado">Rechazado</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="firstFormGroup.controls['estadoPost'].errors?.required">
                        {{errors.opcion}}
                    </mat-error>
                </div>

                <div>
                    <button mat-button matStepperPrevious>Atrás</button>
                    <button mat-button (click)="formone.ngSubmit.emit()">Guardar Cambios</button>

                </div>
            </mat-step>
        </form>
    </mat-horizontal-stepper>
</div>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="centrado">
                <h1>Guardando los cambios</h1>
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>
</div>